
<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; <a href="/" title="Fidgettoys.ru">{{site.name}}</a>, {{ site.time | date: '%Y' }} Информация на сайте не является публичной офертой.</p>
            </div>
        </div>
    </footer>

</div>

<script type="text/javascript" src="{{ site.baseurl }}/public/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/app.js"></script>

<script>
$(document).ready(function() {
  $("#info-close").click(function(){
    $(this).closest("#info").remove()
  })
})
</script>
