<head>
  <title>{{page.title}}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Изготовление и продажа высококачественных спиннеров ручной работы. Доставка по России.">
  <meta name="keywords" content="fidgetspinners, fidgettoys, handspinners, fingertoy, fidgettoys.ru, спиннер, игрушка, крутилка, фингерспиннер, хэнд спиннер, фиджет">


  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/shop-item.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/magnific-popup.css" type="text/css" />
  <script src="https://use.fontawesome.com/e75536d43c.js"></script>
  {% include analytics.html %}
</head>
