<head>
  <title>{{page.title}}</title>

  {% include meta.html %}

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/shop-item.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/magnific-popup.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/vue.min.js"></script>
  <script src="https://use.fontawesome.com/e75536d43c.js"></script>

  {% include analytics.html %}
</head>
