<span>
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410013949854124&quickpay=small&any-card-payment-type=on&button-text=02&button-size=s&button-color=black&targets=Fidgettoys.ru%2C+%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0+%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%B0.&default-sum={{item.cost}}&fio=on&mail=on&address=on&successURL=fidgettoys.ru%2Fcp.html" width="107" height="25"></iframe>
</span>

<span>
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410013949854124&quickpay=small&yamoney-payment-type=on&button-text=02&button-size=s&button-color=black&targets=Fidgettoys.ru%2C+%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0+%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%B0.&default-sum={{item.cost}}&fio=on&mail=on&address=on&successURL=fidgettoys.ru%2Fcp.html" width="107" height="25"></iframe>
</span>
